.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}

.main-container {
  min-height: calc(100vh - 24px - 70px - 64px);
}
